{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block main %}
<br>
    <section>

        {{ form_start(form ) }}
        {{ form_row(form.nom) }}
        <br>
        {{ form_row(form.prenom) }}
        <br>
        {{ form_row(form.message ) }}
        <br>
        {{ form_row(form.categoryEntity) }}
        <br>
        {{ form_row(form.categorie) }}
        <br>
        <button type="submit">Valider</button>
        {{ form_end(form) }}

    </section>
    {% for flashMessage in app.session.flashbag.get('Success') %}

    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
    {% endfor %}
{% endblock %}
